<%- include('./partials/meta.ejs') %>
    <title>Error page</title>

    <link rel='stylesheet' href='/css/error.css'>
    <%- include('./partials/header.ejs') %>
        <main class="container">
            <div class="row">
                <div id="error" class="col-sm-12">
                    <h3>
                        <%= error.status%> Error
                    </h3>
                    <p>
                        <%= error.message%>
                    </p>
                </div>
            </div>
        </main>
        </div>
        <%- include('./partials/footer.ejs') %>