<%- include('../partials/meta.ejs') %>
    <title>Event details</title>

    <link rel='stylesheet' href='/css/event.css'>
    <%- include('../partials/header.ejs') %>
        <main class="container">
            <div class="row">
                <div class="col-*-auto">
                    <section id="event-section">
                        <div class="d-flex mt-5" id="pg-main-header">
                            <h3 id="pg-header">
                                <%=event.title%>
                            </h3>
                            <form>
                                <span class="fa-stack ms-4 me-3">
                                    <button type="submit" formmethod="GET" formaction="/events/<%= event.id%>/edit">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fas fa-pen-to-square fa-stack-1x fa-inverse"></i>
                                    </button>
                                </span>
                                <span class="fa-stack">
                                    <button type="submit" formmethod="POST"
                                        formaction="/events/<%= event.id%>?_method=DELETE">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fas fa-trash fa-stack-1x fa-inverse"></i>
                                    </button>
                                </span>
                            </form>
                        </div>
                        <div class="d-flex">
                            <div id="picture"><img src="<%= event.image%>" alt="event" class="img-fluid"
                                    id="event-picture" width="244px" height="180px">
                            </div>
                            <div id="pg-main-text">
                                <ul id="pg-main-list">
                                    <li class="d-flex mb-3">
                                        <p><b>Host:</b>
                                            <%= event.hostName %>
                                        </p>
                                    </li>
                                    <li class="d-flex mb-3">
                                        <p><b>Date and time:</b>
                                            <%=event.startDate%> -
                                                <%=event.endDate%>
                                        </p>
                                    </li>
                                    <li class="d-flex mb-3">
                                        <p><b>Location:</b>
                                            <%= event.location %>
                                        </p>
                                    </li>
                                    <li class="d-flex mb-3">
                                        <p><b>Details:</b>
                                            <%= event.details %>
                                        </p>
                                    </li>
                                    <li class="d-flex">
                                        <p><b>Category:</b>
                                            <%= event.category.charAt(0).toUpperCase() + event.category.slice(1) %>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </main>
        <%- include('../partials/footer.ejs') %>